.idea
Countdown.xcodeproj/xcuserdata
Countdown.xcodeproj/project.xcworkspace/xcuserdata
Countdown.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Countdown.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/configuration